amqp==5.0.9
ansi2html==1.7.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
billiard==3.6.4.0
black==22.1.0
bleach==4.1.0
blis==0.7.6
Brotli==1.0.9
catalogue==2.0.6
celery==5.1.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click
click-didyoumean
click-plugins
click-repl
colorama==0.4.4
cymem==2.0.6
dash==2.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.5
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.12.3
djangorestframework==3.12.4
docopt==0.6.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
entrypoints==0.4
executing==0.8.2
Flask==2.0.3
Flask-Compress==1.11
gevent==21.12.0
greenlet==1.1.2
idna==3.3
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-dash==0.4.1
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kombu==5.2.3
langcodes==3.3.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib-inline==0.1.3
mistune==0.8.4
mljar-mercury==0.5.1
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.11
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.22.2
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pickleshare==0.7.5
pipreqs==0.4.11
platformdirs==2.5.1
plotly==5.6.0
preshed==3.0.6
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psutil==5.8.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.8.2
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
retrying==1.3.3
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
shortuuid==1.0.8
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
SQLAlchemy==1.4.27
sqlparse==0.4.2
srsly==2.4.2
stack-data==0.2.0
tenacity==8.0.1
terminado==0.13.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.1.1
urllib3==1.26.8
vine==5.0.0
wasabi==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.3
whitenoise==5.3.0
widgetsnbextension==3.5.2
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.4.0
